---
http_interactions:
- request:
    method: post
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/insert
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request>
          <itemInsertRequest>
            <item>
              <itemUrl>test1234</itemUrl>
              <itemNumber>test1234</itemNumber>
              <itemName>test_item</itemName>
              <itemPrice>12345</itemPrice>
              <genreId>101916</genreId>
              <catalogIdExemptionReason>5</catalogIdExemptionReason>
              <descriptionForPC>Lorem ipsum</descriptionForPC>
              <descriptionForMobile>Lorem ipsum</descriptionForMobile>
              <descriptionForSmartPhone>Lorem ipsum</descriptionForSmartPhone>
              <catchCopyForPC></catchCopyForPC>
              <catchCopyForMobile></catchCopyForMobile>
              <descriptionBySalesMethod>Lorem ipsum</descriptionBySalesMethod>
              <isSaleButton>true</isSaleButton>
              <isDocumentButton>false</isDocumentButton>
              <isInquiryButton>true</isInquiryButton>
              <isStockNoticeButton>false</isStockNoticeButton>
              <itemLayout>1</itemLayout>
              <isIncludedTax>true</isIncludedTax>
              <isIncludedPostage>false</isIncludedPostage>
              <isIncludedCashOnDeliveryPostage>false</isIncludedCashOnDeliveryPostage>
              <isNoshiEnable>false</isNoshiEnable>
              <isUnavailableForSearch>false</isUnavailableForSearch>
              <isDepot>true</isDepot>
              <detailSellType>0</detailSellType>
              <itemInventory>
                <inventoryType>1</inventoryType>
                <inventories>
                  <inventory>
                    <inventoryCount>0</inventoryCount>
                  </inventory>
                </inventories>
              </itemInventory>
            </item>
          </itemInsertRequest>
        </request>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <result><status><interfaceId>item.insert</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>ff3839d2-41dd-4327-a200-22a1630addfe</requestId><requests/></status><itemInsertResult><code>N000</code><item><itemUrl>test1234</itemUrl></item></itemInsertResult></result>
  recorded_at: Fri, 12 May 2017 07:36:26 GMT
recorded_with: VCR 3.0.3
