---
http_interactions:
- request:
    method: get
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/get?itemUrl=test1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <result><status><interfaceId>item.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>01b07844-885c-43c6-98c1-ce0f9c9dfab5</requestId><requests><itemUrl>test1234</itemUrl></requests></status><itemGetResult><code>N000</code><item><itemUrl>test1234</itemUrl><itemNumber>test1234</itemNumber><itemName>test_item</itemName><itemPrice>12345</itemPrice><genreId>101916</genreId><catalogId/><catalogIdExemptionReason>5</catalogIdExemptionReason><images/><descriptionForPC>Lorem ipsum</descriptionForPC><descriptionForMobile>Lorem ipsum</descriptionForMobile><descriptionForSmartPhone>Lorem ipsum</descriptionForSmartPhone><options/><tagIds/><catchCopyForPC/><catchCopyForMobile/><descriptionBySalesMethod>Lorem ipsum</descriptionBySalesMethod><isSaleButton>true</isSaleButton><isDocumentButton>false</isDocumentButton><isInquiryButton>true</isInquiryButton><isStockNoticeButton>false</isStockNoticeButton><itemLayout>1</itemLayout><isIncludedTax>true</isIncludedTax><isIncludedPostage>false</isIncludedPostage><isIncludedCashOnDeliveryPostage>false</isIncludedCashOnDeliveryPostage><orderLimit>-1</orderLimit><postage>-1</postage><isNoshiEnable>false</isNoshiEnable><isTimeSale>false</isTimeSale><isUnavailableForSearch>false</isUnavailableForSearch><isAvailableForMobile>true</isAvailableForMobile><isDepot>true</isDepot><detailSellType>0</detailSellType><point><pointRate/><pointRateStart/><pointRateEnd/></point><itemInventory><inventoryType>1</inventoryType><inventories><inventory><inventoryCount>0</inventoryCount><isBackorder>false</isBackorder><isRestoreInventoryFlag>false</isRestoreInventoryFlag></inventory></inventories><inventoryQuantityFlag>0</inventoryQuantityFlag></itemInventory><asurakuDeliveryId/><sizeChartLinkCode/><reviewDisp>2</reviewDisp><displayPriceId>0</displayPriceId><categories><categoryInfo><categoryId>1</categoryId><isPluralItemPage>false</isPluralItemPage></categoryInfo></categories><itemWeight>999999999</itemWeight><layoutCommonId>0</layoutCommonId><layoutMapId>0</layoutMapId><textSmallId>0</textSmallId><lossLeaderId>0</lossLeaderId><textLargeId>0</textLargeId></item></itemGetResult></result>
  recorded_at: Fri, 12 May 2017 07:58:30 GMT
- request:
    method: post
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/update
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request>
          <itemUpdateRequest>
            <item>
              <itemUrl>test1234</itemUrl>
              <itemName>changed_item</itemName>
            </item>
          </itemUpdateRequest>
        </request>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <result><status><interfaceId>item.update</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>01b0ef13-8130-4eb1-b62a-773c951369f6</requestId><requests/></status><itemUpdateResult><code>N000</code><item><itemUrl>test1234</itemUrl></item></itemUpdateResult></result>
  recorded_at: Fri, 12 May 2017 07:58:31 GMT
[...]
