---
http_interactions:
- request:
    method: post
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/delete
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <request>
          <itemDeleteRequest>
            <item>
              <itemUrl>test1234</itemUrl>
            </item>
          </itemDeleteRequest>
        </request>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <result><status><interfaceId>item.delete</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>f84eaf14-5cb4-4feb-9496-7997217cbdf2</requestId><requests/></status><itemDeleteResult><code>N000</code><item><itemUrl>test1234</itemUrl></item></itemDeleteResult></result>
  recorded_at: Fri, 12 May 2017 08:06:47 GMT
- request:
    method: get
    uri: https://api.rms.rakuten.co.jp/es/1.0/item/get?itemUrl=test1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <result><status><interfaceId>item.get</interfaceId><systemStatus>OK</systemStatus><message>OK</message><requestId>51d45daa-570b-4262-b368-13c576e86933</requestId><requests><itemUrl>test1234</itemUrl></requests></status><itemGetResult><code>C001</code><item><itemUrl>test1234</itemUrl></item></itemGetResult></result>
  recorded_at: Fri, 12 May 2017 08:06:47 GMT
recorded_with: VCR 3.0.3
